body {
    background-color: #f0faff;
}
/* .container { */
    /* margin-top: 100px; */
/* } */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.main-page-button{
    align:center
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.container.text-center {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#backButton {
    position :fixed;
    bottom: 20px;
    left: 20px;
}

@media (max-width: 768px) {
    #backButton {
        bottom: 10px; /* Adjust this value for smaller screens */
        left: 10px; /* Adjust this value for smaller screens */
    }
}

.rounded-input {
    border: 2px solid black; /* Change the color as desired */
    background-color: #f8f9fa; /* Change the color as desired */
    padding-top: 10px;
    border-radius: 20px; /* Adjust the value for more/less rounding */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); /* Add a subtle shadow */
    margin-top : 5px;
}

.rounded-button {
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
    margin-top : 10px;
}
.index-button {
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
    margin-top : 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.my-5 {
    /* margin-top: 3rem!important; */
    margin-bottom: 3rem!important;
}

#internetStatus{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: white;
}

.card-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.col-md-2 {
    flex-basis: calc(15% - 10px); 
}
.btn-gen {
    background-color: #FFD700;
    color: black; /* Set the font color to black */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Use a sans-serif typeface */
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
}
.btn-gen:hover {
    background-color: #FFEEAD;
    color:black;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1440deg); }
}
    