body {
    background-color: #f0faff;
}
.container {
    margin-top: 100px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.main-page-button{
    align:center
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.container.text-center {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#backButton {
    position :fixed;
    bottom: 20px;
    left: 20px;
}

@media (max-width: 768px) {
    #backButton {
        bottom: 10px; /* Adjust this value for smaller screens */
        left: 10px; /* Adjust this value for smaller screens */
    }
}

