body {
    background-color: #f0faff;
}
/* .container { */
    /* margin-top: 100px; */
/* } */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.main-page-button{
    align:center
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.container.text-center {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#backButton {
    position :fixed;
    bottom: 20px;
    left: 20px;
}

@media (max-width: 768px) {
    #backButton {
        bottom: 10px; /* Adjust this value for smaller screens */
        left: 10px; /* Adjust this value for smaller screens */
    }
}

.rounded-input {
    border: 2px solid black; /* Change the color as desired */
    background-color: #f8f9fa; /* Change the color as desired */
    padding-top: 10px;
    border-radius: 20px; /* Adjust the value for more/less rounding */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); /* Add a subtle shadow */
    margin-top : 5px;
}

.rounded-button {
    border : 1px solid black;
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
    margin-top : 10px;
}

<<<<<<< HEAD
.go-button {
    border : 1px solid black;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
    margin-top : 10px;
}

.index-button {
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
    margin-top : 10px;
=======
.img-fluid {
    width: 100%;
    height: 350px;
}

.my-5 {
    /* margin-top: 3rem!important; */
    margin-bottom: 3rem!important;
}

#internetStatus{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: white;
>>>>>>> 1419d0180e0dbb2b7fac7c7984eddd53f1a1065a
}